.header {
  background-color: #333333;
  color: white;
  font-size: 40px;
  font-weight: bold;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.header h1 {
  justify-content: center;
}
.main {
  display: flex;
  width: 800px;
  height: 800px;
  margin: 5% auto;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.container > * {
  height: 225px;
  width: 225px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.item1 {
  border: solid 10px red;
  opacity: 50%;
}
.item1:hover {
  border: solid 10px red;
  opacity: 100%;
}
.item2 {
  border: solid 10px green;
  opacity: 50%;
}
.item2:hover {
  border: solid 10px green;
  opacity: 100%;
}
.item3 {
  border: solid 10px yellow;
  opacity: 50%;
}
.item3:hover {
  border: solid 10px yellow;
  opacity: 100%;
}
.item4 {
  border: solid 10px blue;
  opacity: 50%;
}
.item4:hover {
  border: solid 10px blue;
  opacity: 100%;
}
.item5 {
  border: solid 10px salmon;
  opacity: 50%;
}
.item5:hover {
  border: solid 10px salmon;
  opacity: 100%;
}
.footer {
  background-color: #dddddd;
  height: 50px;
}
.contenujob {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.contenujob h2 {
  font-size: 25px;
  margin-left: 10px;
  margin-top: 5px;
}
.contenujob p {
  margin-left: 10px;
  margin-bottom: 5px;
}
.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
}
